<html xmlns:layout="http://www.thymeleaf.org"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="adminlayout">

<div layout:fragment="content" th:remove="tag">
    <header class="header-container">
        <div class="container">
        </div>
    </header>
    <main class="container">
        <form th:action="@{/admin/cars/{id}(id=${car.id})}" th:method="post" th:object="${car}">
            <input type="hidden" th:field="*{model}"/>
            <h1 class="page-header"><span th:id="${car.model}"/></h1>

            <p>Model: <input type="text" th:field="*{model}" class="form-control"/></p>
            <td th:if="${#fields.hasErrors('model')}" th:errors="*{model}">model Error</td>

            <p>Brand:
                <select class="form-control">
                    <option th:each="brand : ${T(com.realdolmen.fleet.domain.enums.Brand).values()}" th:value="${brand}"
                            th:text="${brand}" th:selected="${brand == car.brand}"></option>
                </select>
            </p>
            <td th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}">brand Error</td>

            <p>Type:
                <select class="form-control">
                    <option th:each="type : ${T(com.realdolmen.fleet.domain.enums.CarType).values()}" th:value="${type}"
                            th:text="${type}" th:selected="${type == car.type}"></option>
                </select>
            </p>
            <td th:if="${#fields.hasErrors('type')}" th:errors="*{type}">model Error</td>

            <div class="input-group date">
                <input type="text" class="form-control" id="productionDate" th:field="*{productionDate}"
                       name="productionDate"></input>
            </div>

            <!-- Load jQuery and bootstrap datepicker scripts -->
            <script th:src="@{/js/jquery.js}"></script>
            <script th:src="@{/js/bootstrap-datepicker.js}"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#productionDate').datepicker({
                        format: "mm/dd/yy"
                    });
                });
            </script>
            <td th:if="${#fields.hasErrors('productionDate')}" th:errors="*{productionDate}">Date Error</td>

            <p>Pack: <input type="text" th:field="*{pack}" class="form-control"/></p>
            <td th:if="${#fields.hasErrors('pack')}" th:errors="*{pack}">pack Error</td>

            <p>Fueltype:
                <select class="form-control">
                    <option th:each="fueltype : ${T(com.realdolmen.fleet.domain.enums.FuelType).values()}"
                            th:value="${fueltype}" th:text="${fueltype}"
                            th:selected="${fueltype == car.fuelType}"></option>
                </select>
            </p>
            <td th:if="${#fields.hasErrors('type')}" th:errors="*{fueltype}">type Error</td>

            <p>Emission:<input type="text" th:field="*{emission}" class="form-control"/></p>
            <td th:if="${#fields.hasErrors('emission')}" th:errors="*{emission}">emission Error</td>

            <p>RimType:
                <select class="form-control">
                    <option th:each="rimtype : ${T(com.realdolmen.fleet.domain.enums.RimType).values()}"
                            th:value="${rimtype}" th:text="${fueltype}"
                            th:selected="${rimtype == car.rimType}"></option>
                </select>
            </p>
            <td th:if="${#fields.hasErrors('rim type')}" th:errors="*{rimtype}">type Error</td>

            <p>Ideal Km:<input type="text" th:field="*{idealKm}" class="form-control"/></p>
            <td th:if="${#fields.hasErrors('idealkm')}" th:errors="*{idealKm}">deal km Error</td>

            <p>Maximum Km:<input type="text" th:field="*{maxKm}" class="form-control"/></p>
            <td th:if="${#fields.hasErrors('maxKm')}" th:errors="*{maxKm}">emission Error</td>

            <p>List Price:<input type="text" th:field="*{listPrice}" class="form-control"/></p>
            <td th:if="${#fields.hasErrors('listprice')}" th:errors="*{listPrice}">emission Error</td>

            <!--TODO: monthly benefit, upgr amount, downg amount, horsep, engine -->

            <button type="submit">Submit</button>
        </form>
    </main>
</div>
</html>