<html xmlns:layout="http://www.thymeleaf.org"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="adminlayout">

<div layout:fragment="content" th:remove="tag">
    <header class="header-container">
        <div class="container">
            <h1 class="page-header">Company Cars</h1>
            <p class="lead">This is the Company Car-page. As a Fleet employee, you see an overview of all the APPROVED Company Cars.</p>
        </div>
    </header>

    <main class="container">
        <div th:if="${userCarHistories.size() > 0}">
            <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>brand</th>
                    <th>model</th>
                    <th>Car Category Level</th>
                    <th>User Functional Level</th>
                    <th>Choosen Level</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="userCarHistory : ${userCarHistories}" class="companyCarRequestTr">
                    <td th:text="${userCarHistory.companyCar.car.id}">id</td>
                    <td th:text="${userCarHistory.companyCar.car.brand}">brand</td>
                    <td th:text="${userCarHistory.companyCar.car.model}">model</td>
                    <td th:text="${userCarHistory.companyCar.car.category.fLevel}">Car Category Level</td>
                    <td th:text="${userCarHistory.functionalLevelCopy}">User Functional Level</td>
                    <td th:text="${userCarHistory.choosenLevel}">Choosen Level</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${userCarHistories.size() == 0}">
            <p class="bg-danger message messageError"> No Company Cars found...</p>
        </div>
    </main>
</div>
</html>