<html xmlns:layout="http://www.thymeleaf.org"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="adminlayout">

<div layout:fragment="content" th:remove="tag">
    <header class="header-container">
        <div class="container">
            <h1>Add a car</h1>
        </div>
    </header>
    <main class="container">
        <div class="row">
            <form th:action="@{/admin/cars/add}" th:method="post" th:object="${car}" class="form" enctype="multipart/form-data">
                <div th:replace="fragments/forms/car :: car" th:remove="all"></div>
            </form>
        </div>
    </main>
</div>
</html>