<html xmlns:layout="http://www.thymeleaf.org"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="adminlayout">

<div layout:fragment="content" th:remove="tag">
    <header class="header-container">
        <div class="container">
        </div>
    </header>
    <main class="container">
        <form th:action="@{/admin/cars/add}" th:method="post" th:object="${car}">

            <h1 class="page-header"></h1>

            <p>Model: <input type="text" name="model" th:container="Fill in the model" class="form-control"/></p>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('model')}" th:errors="*{model}">Model Error</p>

            <p>thumbnail: <input type="text" name="thumbnail" class="form-control"/></p>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('thumbnail')}" th:errors="*{thumbnail}">thumbnail
                Error</p>

            <p>Brand:
                <select th:field="*{brand}" class="form-control">
                    <option th:each="brand : ${T(com.realdolmen.fleet.domain.enums.Brand).values()}"
                            th:value="${brand}"
                            th:text="${brand}"></option>
                </select>
            </p>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}">brand Error</p>

            <p>Type:
                <select th:field="*{type}" class="form-control" name="type">
                    <option th:each="type : ${T(com.realdolmen.fleet.domain.enums.CarType).values()}" th:value="${type}"
                            th:text="${type}"></option>
                </select>
            </p>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}">type Error</p>

            <div class="input-group date">
                <input type="text" class="form-control" id="productionDate"
                       name="productionDate"></input>
            </div>

            <!-- Load jQuery and bootstrap datepicker scripts -->
            <script th:src="@{/js/jquery.js}"></script>
            <script th:src="@{/js/bootstrap-datepicker.js}"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#productionDate').datepicker({
                        format: "mm/dd/yy"
                    });
                });
            </script>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('productionDate')}" th:errors="*{productionDate}">
                Date Error</p>

            <p>Active: <input type="checkbox" th:field="*{active}"/></p>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('active')}" th:errors="*{active}">Active Error</p>

            <p>Hybrid: <input type="checkbox" th:field="*{hybrid}"/></p>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('hybrid')}" th:errors="*{hybrid}">Active Error</p>

            <p>Pack: <input type="text" th:field="*{pack}" class="form-control"/></p>
            <td th:if="${#fields.hasErrors('pack')}" th:errors="*{pack}">pack Error</td>

            <p>Fiscal HorsePower: <input type="text" th:field="*{fiscalHorsePower}" class="form-control"/></p>
            <td th:if="${#fields.hasErrors('fiscalHorsePower')}" th:errors="*{fiscalHorsePower}">fiscalHorsePower
                Error
            </td>

            <p>Options:
                <select class="form-control" name="options">
                </select>
            </p>

            <p>Fueltype:
                <select th:field="*{fuelType}" class="form-control">
                    <option th:each="fueltype : ${T(com.realdolmen.fleet.domain.enums.FuelType).values()}"
                            th:value="${fueltype}"
                            th:text="${fueltype}"
                    ></option>
                </select>
            </p>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('fuelType')}" th:errors="*{fuelType}">type
                Error</p>

            <p>Emission:<input type="number" min="0" step="1" name="emission" class="form-control"/></p>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('emission')}" th:errors="*{emission}">emission
                Error</p>

            <p>RimType:
                <select class="form-control" th:field="*{rimType}">
                    <option th:each="rimtype : ${T(com.realdolmen.fleet.domain.enums.RimType).values()}"
                            th:value="${rimtype}"
                            th:text="${rimtype}"
                    ></option>
                </select>
            </p>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('rimType')}" th:errors="*{rimType}">type Error</p>

            <p>Ideal Km:<input type="number" min="120000" value="140000" step="1000" name="idealKm"/></p>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('idealKm')}" th:errors="*{idealKm}">deal km
                Error</p>

            <p>Maximum Km:<input type="number" min="5000" step="1000" value="180000" name="maxKm" class="form-control"/>
            </p>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('maxKm')}" th:errors="*{maxKm}">emission Error</p>

            <p>List Price:<input type="number" step=".01" name="listPrice" class="form-control"/></p>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('listPrice')}" th:errors="*{listPrice}">emission
                Error</p>

            <p>Monthly Benefit:<input type="number" min="0" step=".01" name="monthlyBenefit" class="form-control"/></p>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('monthlyBenefit')}" th:errors="*{monthlyBenefit}">
                monthlyBenefit Error</p>

            <p>Upgrade Amount:<input type="number" step=".01" name="upgradeAmount" class="form-control"/></p>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('upgradeAmount')}" th:errors="*{upgradeAmount}">
                upgradeAmount Error</p>

            <p>Downgrade Amount:<input type="number" step=".01" name="downgradeAmount" class="form-control"/></p>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('downgradeAmount')}"
               th:errors="*{downgradeAmount}">downgradeAmount Error</p>

            <p>Horse Power:<input type="number" min="0" step="1" name="hPower" class="form-control"/></p>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('hPower')}" th:errors="*{hPower}">hPower Error</p>

            <p>Engine:<input type="text" name="engine" class="form-control"/></p>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('engine')}" th:errors="*{engine}">engine Error</p>

            <button type="submit">Add car</button>
        </form>
    </main>
</div>
</html>