.bodyContainer {
    background-color: rgba(0, 0, 0, 0.1);
    background-size: cover;
    height: 1080px;
}

main {
    margin-top: 20px;
}

.logo {
    max-width: 300px;
    height: 80px;
}

ul.nav.navbar-nav {
    margin-left: 30%;
    margin-right: 20%;
}

.header-container {
    background-color: #dedede;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 180px;
}

.thumb {
    height: 300px;
}

.thumb a {
    background: none;
    max-height: 255px;
    max-width: 400px;
    width: 255px;
    height: 400px;
}

.thumb a:hover {
    color: WHITE;
}

.thumb a img {
    object-fit: cover;
    width: 255px;
    height: 400px;
    max-height: 255px;
    max-width: 400px;
}

.backgroundCarBrandAndModel {
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    top: -80px;
    font-size: 2em;
    color: WHITE;
    text-transform: uppercase;
    padding-left: 20px;
    max-width: 300px;
}

.backgroundCarBrandAndModel p {
    margin: 0;
}

div#carimageMain {
    float: left;
    max-width: 500px;
    max-height: 500px;
    overflow: hidden;
}

div#carimageMain .img-responsive {
    margin: 0px;
    float: left;
    object-fit: cover;
    width: 500px;
    height: 500px;
}

div#cardetails {
    float: right;
    width: 630px;
    height: 500px;
}

div#cardetailsConfigure {
    float: left;
    width: 100%;
}

div#cardetails table {
    margin-bottom: 0px;
}

div#cardetails tr {
    height: 25px;
    line-height: 25px;
}

div#cardetails td {
    width: 315px;
}

div#cardetails td.title {
    font-weight: bold;
    float: right;
    width: 315px;
    text-align: right;
}

div#cardetails td.cardetails label {
    font-weight: normal;
}

div#cardetails p.btnOrderNow {
    width: 630px;
}

div#carimagesthumbnails img {
    object-fit: cover;
    width: 95px;
    height: 95px;
}

#sideNav {
    float: left;
    position: relative;
    width: 375px;
    top: 50px;
}

#filter {
    float: left;
    position: relative;
    top: 200px;
    width: 375px;
}

.Image404 {
    display: block;
    margin: 0 auto;
    margin-top: 150px;
}

.message {
    padding: 7px;
}

.messageError {
    color: #b48484;
}

.messageSuccess {
    color: #addd9a;
}

.logoutLink {
    float: right;
}

div#historydetails {
    float: right;
    width: 630px;
}

div#historydetails table {
    margin-bottom: 0px;
}

div#historydetails tr {

    height: 25px;
    line-height: 25px;
}

div#historydetails td {
    width: 315px;
}

div#historydetails td.title {
    font-weight: bold;
    float: right;
    width: 315px;
    text-align: right;
}

div#historydetails td.historydetails label {
    font-weight: normal;
}

#tableMetaData label{
    position: relative;
    top: 6px;
    float: right;
}

#tableMetaData input[type="radio"] {
    width: 25px;
    position: relative;
    top:-2px;
    float:left;
    margin-right: 10px;
}

#tableMetaData label.lblRadioLabel {
    float:left;
    font-weight: normal;
    margin-right:8px;
}

#tableMetaData td {
    width:585px;
}

.divOrderButtons a{
    float:left;
}

.divOrderButtons div.unableOrder a.btn-default, a.btn-danger {
    position: relative;
}

.divOrderButtons label {
    width:620px;
    position: relative;
    top: 55px;
    left: -190px;
}

