.bodyContainer {
    background-color: rgba(0, 0, 0, 0.1);
    background-size: cover;
    height: 100%;
    width:100%;
}

main {
    margin-top: 20px;
}

.logo {
    max-width: 300px;
    height: 80px;
}

ul.nav.navbar-nav {
    margin:0px;
}

ul.nav.navbar-nav.adminTopNav {
    margin: 0;
}

.header-container {
    background-color: #dedede;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 180px;
}

.header-container.editCar {
    height: 100px;
}

.thumb {
    height: 300px;
}

.thumb a {
    background: none;
    max-height: 255px;
    max-width: 400px;
    width: 255px;
    height: 400px;
}

.thumb a:hover {
    color: WHITE;
}

.thumb a img {
    object-fit: cover;
    width: 253px;
    height: 253px;
    max-height: 255px;
    max-width: 400px;
}

.thumb a div.carCategoryLvl {
    position: relative;
    top: 7px;
    left: 15px;
    color: WHITE;
    font-size: 20px;
}

.thumb a div.carCategoryLvlBg {
    float: right;
    background-image: url("../images/catlvlCircle1.png");
    background-size: 40px 40px;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 50%;
}

.thumb a div.carCategoryLvlBg:hover {
    background-image: url("../images/catlvlCircle2.png");
}

.thumb a div.carNotCategoryLvl {
    position: relative;
    top: -40px;
    z-index: -1;
}

.backgroundCarBrandAndModel {
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    top: -80px;
    font-size: 2em;
    color: WHITE;
    text-transform: uppercase;
    padding-left: 20px;
    max-width: 300px;
    max-height: 80px;
}

.backgroundCarBrandAndModel p {
    margin: 0;
}

div#carimageMain {
    float: left;
    max-width: 500px;
    max-height: 500px;
    overflow: hidden;
}

div#carimageMain .img-responsive {
    margin: 0px;
    float: left;
    object-fit: cover;
    width: 500px;
    height: 500px;
}

div#cardetails {
    float: right;
    width: 630px;
    height: 500px;
}

div#cardetailsConfigure {
    float: left;
    width: 100%;
}

div#cardetails table {
    margin-bottom: 0px;
}

div#cardetails tr {
    height: 25px;
    line-height: 25px;
}

div#cardetails td {
    width: 315px;
}

div#cardetails td.title {
    font-weight: bold;
    float: right;
    width: 315px;
    text-align: right;
}

div#cardetails td.cardetails label {
    font-weight: normal;
}

div#cardetails p.btnOrderNow {
    width: 630px;
}

div#carimagesthumbnails img {
    object-fit: cover;
    width: 95px;
    height: 95px;
}

#sideNav {
    float: left;
    position: relative;
    width: 250px;
    top: 30px;
}

/*div#numberCircleBg {*/

    /*float: right;*/
    /*background-image: url("../images/catlvlCircle1.png");*/
    /*background-size: 40px 40px;*/
    /*background-repeat: no-repeat;*/
    /*width: 40px;*/
    /*height: 40px;*/
    /*position: relative;*/
    /*z-index: 1;*/
    /*background-color: rgba(0, 0, 0, 0.25);*/
    /*border-radius: 50%;*/
/*}*/

.numberCircle {
    border-radius: 50%;
    float: left;

    width: 50px;
    height: 50px;
    padding: 8px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    position: relative;
    top: 25px;

    font: 25px Arial, sans-serif;
}

.centerWithHeadNav {
    position: relative;
    top:15px;
}

.centerWithHeadNav a {
    color: WHITE;
}

#filter {
    float: left;
    position: relative;
    top: 200px;
    width: 375px;
}

.filterBtn {
    width: 75px;
    height: 30px;
    line-height: 10px;
}

.Image404 {
    display: block;
    margin: 0 auto;
    margin-top: 150px;
}

.message {
    padding: 7px;
}

.messageError {
    color: #b48484;
}

.messageSuccess {
    color: #addd9a;
}

.logoutLink {
    float: right;
}

div#historydetails {
    float: right;
    width: 630px;
}

div.OlderCarsTable {
    float: left;
    width: 100%;
}

div#historydetails table {
    margin-bottom: 0px;
}

div#historydetails tr {

    height: 25px;
    line-height: 25px;
}

div#historydetails td {
    width: 315px;
}

div#historydetails td.title {
    font-weight: bold;
    float: right;
    width: 315px;
    text-align: right;
}

div#historydetails td.historydetails label {
    font-weight: normal;
}

#tableMetaData label {
    position: relative;
    top: 6px;
    float: right;
}

#tableMetaData input[type="radio"] {
    width: 25px;
    position: relative;
    top: -2px;
    float: left;
    margin-right: 10px;
}

#tableMetaData label.lblRadioLabel {
    float: left;
    font-weight: normal;
    margin-right: 8px;
}

#tableMetaData td {
    width: 585px;
}

.divOrderButtons a {
    float: left;
}

.divOrderButtons div.unableOrder a.btn-default, a.btn-danger {
    position: relative;
}

.divOrderButtons label {
    width: 620px;
    position: relative;
    top: 55px;
    left: -190px;
}

td.btnApproveOrDecline a {
    height: 25px;
    line-height: 5px;
}

table tr.companyCarRequestTr td{
    line-height: 55px;
    padding-left: 15px;
}

.container{
    margin-top:20px;
}
.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

input#thumbnail  {
    padding:0;
}

.table.table-striped.table-bordered.tableAllCarsAdmin tr td {
    line-height: 45px;
}

.col-md-5 label {
    width: 100%;
    padding-left: 0;
}

.col-md-5 input[type="checkbox"] {
    width: 25px;
    line-height: 40px;
    height: 25px;
    margin-left: 25px;
}

.col-md-5 input[type="checkbox"] text {
    margin-top:50px;
}

.col-md-12 button {
    width: 100%;
    text-transform: uppercase;
}

legend {
    margin-top:40px;
}

.btn.btn-signin.btn-approve, .btn.btn-signin.btn-decline {
    width:50px;
    height:50px;
    float:left;
    margin:5px;
    background-size: 48px;
    background-repeat: no-repeat;
}

.btn.btn-signin.btn-approve {
    background-image: url('../images/approve-button-md.png');
}
.btn.btn-signin.btn-decline {
    background-image: url('../images/decline-button-md.png');
}