<html xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="errorlayout">

<div xmlns:th="http://www.thymeleaf.org" layout:fragment="content" th:remove="tag">
    <header class="header-container">
        <div class="container">
            <h1 class="page-header">Access Denied</h1>
            <p class="lead">You don't have access to this page.</p>
            <!--<a th:href="@{/login}" th:text="Go back to login"></a>-->
            <a th:href="@{/login}" th:text="#{rdf.goBackToLogin}"></a>
        </div>
    </header>
</div>

</html>
