<html xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="layout">


<div xmlns:th="http://www.thymeleaf.org" layout:fragment="content" th:remove="tag">

    <div th:replace="fragments/navigation :: filter" th:remove="tag"></div>

    <div class="row">

        <header class="header-container">
            <div class="container">
                <h1 class="page-header">Car Catalog</h1>
                <p class="lead">This is the car catalog. On this page, you can browse all the cars.</p>
            </div>
        </header>

        <main class="container">
            <div th:each="car : ${cars}" class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" th:href="@{/cars/{id}(id=${car.id})}">
                    <img class="img-responsive" th:if="${car.thumbnail != null}"
                         th:src="@{/images/cars/{imgurl}(imgurl=${car.thumbnail})}" th:alt="${car.model}"/>
                    <img class="img-responsive" th:if="${car.thumbnail == null}" th:src="@{/images/unknownCar.png}"
                         th:alt="${car.model}"/>
                    <div class="backgroundCarBrandAndModel">
                        <p class="brand" th:text="${car.brand}"></p>
                        <p class="model" th:text="${car.model}"></p>
                    </div>
                </a>
            </div>
        </main>
    </div>
</div>
</html>
