<html layout:decorator="layout"
      xmlns:layout="http://www.thymeleaf.org">


<div layout:fragment="content" th:remove="tag" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="fragments/navigation :: filter" th:remove="tag"></div>

    <div class="row">

        <header class="header-container">
            <div class="container">
                <h1 class="page-header">Car Catalog</h1>
                <p class="lead">This is the car catalog. On this page, you can browse all the cars.</p>
            </div>
        </header>

        <main class="container">
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" th:href="@{/cardetail}">
                    <img class="img-responsive" th:src="@{/images/unknownCar.png}" alt="unknownCar"/>
                    <div class="backgroundCarBrandAndModel">
                        <p class="brand">Audi</p>
                        <p class="model">A3</p>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" th:href="@{/cardetail}">
                    <img class="img-responsive" th:src="@{/images/DSC_0400.jpg}" alt=""/>
                    <div class="backgroundCarBrandAndModel">
                        <p class="brand">Audi</p>
                        <p class="model">A7</p>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" th:href="@{/cardetail}">
                    <img class="img-responsive" th:src="@{/images/unknownCar.png}" alt=""/>
                    <div class="backgroundCarBrandAndModel">
                        <p class="brand">Volkswagen</p>
                        <p class="model">Passat</p>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" th:href="@{/cardetail}">
                    <img class="img-responsive" th:src="@{/images/areal_dolmen14.jpg}" alt=""/>
                    <div class="backgroundCarBrandAndModel">
                        <p class="brand">Volkswagen</p>
                        <p class="model">Beetle</p>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" th:href="@{/cardetail}">
                    <img class="img-responsive" th:src="@{/images/unknownCar.png}" alt=""/>
                    <div class="backgroundCarBrandAndModel">
                        <p class="brand">Skoda</p>
                        <p class="model">Octavia</p>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" th:href="@{/cardetail}">
                    <img class="img-responsive" th:src="@{/images/unknownCar.png}" alt=""/>
                    <div class="backgroundCarBrandAndModel">
                        <p class="brand">Skoda</p>
                        <p class="model">Superb</p>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" th:href="@{/cardetail}">
                    <img class="img-responsive" th:src="@{/images/unknownCar.png}" alt=""/>
                    <div class="backgroundCarBrandAndModel">
                        <p class="brand">Volkswagen</p>
                        <p class="model">Golf</p>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" th:href="@{/cardetail}">
                    <img class="img-responsive" th:src="@{/images/areal_dolmen15.jpg}" alt=""/>
                    <div class="backgroundCarBrandAndModel">
                        <p class="brand">Volkswagen</p>
                        <p class="model">Touran</p>
                    </div>
                </a>
            </div>
        </main>

    </div>

</div>

</html>
