<html xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="layout">

<div xmlns:th="http://www.thymeleaf.org" layout:fragment="content" th:remove="tag">
    <form action="#" th:action="@{/cars}" method="post" th:object="${car}">
        <input type="hidden" name="hiddenCarId" th:text="*{id}"/>
        <header class="header-container">
            <div class="container">
                <h1 class="page-header" th:text="*{brand} + ' ' + *{model}"></h1>
            </div>
        </header>


        <main class="container">


            <div id="carimageMain">
                <img class="img-responsive" th:if="*{thumbnail != null}"
                     th:src="@{/images/cars/{imgurl}(imgurl=*{thumbnail})}" th:alt="${model}"/>
                <img class="img-responsive" th:if="${thumbnail == null}" th:src="@{/images/unknownCar.png}"
                     th:alt="${model}"/>
            </div>
            <div id="cardetails">
                <table class="table table-striped table-responsive">
                    <tr>
                        <td class="title">Brand:</td>
                        <td class="cardetails"><label th:text="*{brand}"></label></td>
                    </tr>
                    <tr>
                        <td class="title">Model:</td>
                        <td class="cardetails"><label th:text="*{model}"></label></td>
                    </tr>
                    <tr>
                        <td class="title">Type:</td>
                        <td class="cardetails"><label th:text="*{type}"></label></td>
                    </tr>
                    <tr>
                        <td class="title">Category:</td>
                        <td class="cardetails"><label th:text="*{category.fLevel}"></label></td>
                    </tr>
                    <tr>
                        <td class="title">Fueltype:</td>
                        <td class="cardetails"><label th:text="*{fuelType}"></label></td>
                    </tr>
                    <tr>
                        <td class="title">HP:</td>
                        <td class="cardetails"><label th:text="*{fiscalHorsePower}"></label></td>
                    </tr>
                    <tr>
                        <td class="title">Pack:</td>
                        <td class="cardetails"><label th:text="*{pack}"></label></td>
                    </tr>
                    <tr>
                        <td class="title">Hybride:</td>
                        <td class="cardetails"><label th:text="*{hybrid}"></label></td>
                    </tr>
                    <tr>
                        <td class="title">Emission:</td>
                        <td class="cardetails"><label th:text="*{emission}"></label></td>
                    </tr>
                </table>
                <p class="btnOrderNow">
                    <!--<a th:href="'/configure'"-->
                    <!--class="btn btn-lg btn-warning btn-block btn-signin"-->
                    <!--role="button">Choose &amp; Configure</a>-->

                    <a th:href="@{/orderCompanyCar} + '?carId=' + *{id}"
                       class="btn btn-lg btn-warning btn-block btn-signin"
                       role="button">Choose &amp; Configure</a>

                </p>
            </div>
            <!-- CODE REVIEW :  APRJTWO-10 : Placeholders should not be active in the "ready to release" build -->
            <!--<div id="carimagesthumbnails">-->
            <!--<img class="img-responsive thumbnail col-xs-1 col-xs-1" th:src="@{/images/unknownCar.png}"-->
            <!--alt="unknownCar"/>-->
            <!--<img class="img-responsive thumbnail col-xs-1 col-xs-1" th:src="@{/images/unknownCar.png}"-->
            <!--alt="unknownCar"/>-->
            <!--<img class="img-responsive thumbnail col-xs-1 col-xs-1" th:src="@{/images/unknownCar.png}"-->
            <!--alt="unknownCar"/>-->
            <!--<img class="img-responsive thumbnail col-xs-1 col-xs-1" th:src="@{/images/unknownCar.png}"-->
            <!--alt="unknownCar"/>-->
            <!--</div>-->

        </main>
    </form>
</div>
</html>