<html layout:decorator="layout"
      xmlns:layout="http://www.thymeleaf.org">

<div layout:fragment="content" th:remove="tag" xmlns:th="http://www.thymeleaf.org">
    <!--<form action="#" th:action="@{/cars}" method="post" th:object="${car}">-->
        <header class="header-container">
            <div class="container">
                <h1 style="margin-top:30px; margin-bottom: 50px;">Confirm this car as your company car</h1>
            </div>
        </header>

        <main class="container">
            <h2>Company Car info:</h2>

        </main>
    <!--</form>-->
</div>
</html>
