<html xmlns:layout="http://www.thymeleaf.org"
      layout:decorator="layout">

<div xmlns:th="http://www.thymeleaf.org" layout:fragment="content" th:remove="tag">
    <form method="post" th:action="@{${flowExecutionUrl}}" th:object="${orderViewObject}">
        <!--<input th:hidden="${true}" th:name="_flowExecutionKey" th:value="${flowExecutionKey}">-->
        <header class="header-container">
            <div class="container">
                <h1 style="margin-top:30px; margin-bottom: 50px;">Fill in fleet meta data plz</h1>
            </div>
        </header>

        <main class="container">
            <h2>Fleet Meta Data:</h2>

            <table id="tableMetaData" class="table table-striped table-responsive">
                <!--<tr>-->
                <!--<td class="title">Lastname:</td>-->
                <!--<td class="cardetails"><label th:text="*{user.lastName}"></label></td>-->
                <!--</tr>-->

                <tr>
                    <td class="title"><label th:for="${#ids.next('companyCar.concession')}">Preferred
                        Concession:</label></td>
                    <td>
                        <input type="text" th:field="*{companyCar.concession}" class="form-control" disabled="true"/>
                        <span th:if="${#fields.hasErrors('companyCar.concession')}" class="help-block"
                              th:errors="*{companyCar.concession}"></span>
                    </td>
                </tr>
                <tr>
                    <td class="title"><label th:for="${#ids.next('userCarHistory.estimatedMileage')}">Estimated
                        Milage:</label></td>
                    <td>
                        <input type="text" th:field="*{userCarHistory.estimatedMileage}" class="form-control"
                               disabled="true"/>
                        <span th:if="${#fields.hasErrors('userCarHistory.estimatedMileage')}" class="help-block"
                              th:errors="*{userCarHistory.estimatedMileage}"></span>
                    </td>
                </tr>
                <tr>
                    <td class="title"><label
                            th:for="${#ids.next('userCarHistory.replacement')}">Replacement:</label></td>
                    <td>
                        <label class="lblRadioLabel">Replacement:</label>
                        <input type="radio" name="replacement" th:value="replaceCar"
                               th:checked="not(${orderViewObject.userCarHistory.replacement})"
                               class="form-control"/>
                        <label class="lblRadioLabel">First car:</label>
                        <input type="radio" name="replacement" th:value="firstCar"
                               th:checked="${orderViewObject.userCarHistory.replacement}" class="form-control"/>
                        <span th:if="${#fields.hasErrors('userCarHistory.replacement')}" class="help-block"
                              th:errors="*{userCarHistory.replacement}"></span>
                    </td>
                </tr>
                <tr>
                    <td class="title">
                        <label th:for="${#ids.next('userCarHistory.choosenLevel')}">
                            ChosenCategory:
                        </label>
                    </td>
                    <td th:switch="*{userCarHistory.user.getCategory() - car.getLevel()}">
                        <label class="lblRadioLabel" th:case="1">Downgrade</label>
                        <label class="lblRadioLabel" th:case="0">Normal</label>
                        <label class="lblRadioLabel" th:case="-1">Upgrade</label>
                        <label style="font-weight: bold;" class="lblRadioLabel" th:case="*">Not possible to choose
                            this car due to your 'Functional Level' &amp; 'Car Category Level'</label>
                    </td>
                </tr>
                <tr>
                    <td class="title">
                        <label th:for="${#ids.next('userCarHistory.choosenLevel')}">End Price:</label></td>
                    <td th:switch="*{userCarHistory.user.getCategory() - car.getLevel()}">
                        <label class="lblRadioLabel" th:case="1"
                               th:text="${T(Math).ceil(car.listPrice + car.downgradeAmount)}"></label>
                        <label class="lblRadioLabel" th:case="0" th:text="*{car.listPrice}"></label>
                        <label class="lblRadioLabel" th:case="-1"  th:text="${T(Math).ceil(car.listPrice + car.upgradeAmount)}"></label>
                        <label style="font-weight: bold;" class="lblRadioLabel" th:case="*">Not possible to choose
                            this car due to your 'Functional Level' &amp; 'Car Category Level'</label>
                    </td>
                </tr>
            </table>

            <div class="divOrderButtons">
                <td th:switch="*{userCarHistory.user.getCategory() - car.getLevel()}">
                    <div th:case="1">
                        <input type="hidden" name="_flowExecutionKey" value="${flowExecutionKey}"/>
                        <input type="hidden" name="_eventId" value="order"/>
                        <div th:if="${alreadyOrderedACompanyCar.size() > 0}">
                            <a  class="btn btn-primary" disabled="true">Already ordered</a>
                        </div>
                        <div th:if="not(${alreadyOrderedACompanyCar.size() > 0})">
                            <a th:href="@{${flowExecutionUrl}(_eventId=order)}" class="btn btn-primary">Order</a>
                        </div>
                        <a th:href="@{${flowExecutionUrl}(_eventId=back)}" class="btn btn-default">Back</a>
                        <a th:href="@{${flowExecutionUrl}(_eventId=cancel)}" class="btn btn-danger">Cancel</a>
                    </div>
                    <div th:case="0">
                        <input type="hidden" name="_flowExecutionKey" value="${flowExecutionKey}"/>
                        <input type="hidden" name="_eventId" value="order"/>
                        <div th:if="${alreadyOrderedACompanyCar.size() > 0}">
                            <a class="btn btn-primary" disabled="true">Already ordered</a>
                        </div>
                        <div th:if="not(${alreadyOrderedACompanyCar.size() > 0})">
                            <a th:href="@{${flowExecutionUrl}(_eventId=order)}" class="btn btn-primary">Order</a>
                        </div>
                        <a th:href="@{${flowExecutionUrl}(_eventId=back)}" class="btn btn-default">Back</a>
                        <a th:href="@{${flowExecutionUrl}(_eventId=cancel)}" class="btn btn-danger">Cancel</a>
                    </div>
                    <div th:case="-1">
                        <input type="hidden" name="_flowExecutionKey" value="${flowExecutionKey}"/>
                        <input type="hidden" name="_eventId" value="order"/>
                        <div th:if="${alreadyOrderedACompanyCar.size() > 0}">
                            <a class="btn btn-primary" disabled="true">Already ordered</a>
                        </div>
                        <div th:if="not(${alreadyOrderedACompanyCar.size() > 0})">
                            <a th:href="@{${flowExecutionUrl}(_eventId=order)}" class="btn btn-primary">Order</a>
                        </div>
                        <a th:href="@{${flowExecutionUrl}(_eventId=back)}" class="btn btn-default">Back</a>
                        <a th:href="@{${flowExecutionUrl}(_eventId=cancel)}" class="btn btn-danger">Cancel</a>
                    </div>
                    <div class="unableOrder" th:case="*">
                        <a class="btn btn-primary" disabled="true">Order</a>
                        <label style="font-weight: bold;" class="lblRadioLabel bg-danger message messageError">Not
                            possible to choose this car due to your 'Functional Level' &amp; 'Car Category
                            Level'</label>
                        <a th:href="@{${flowExecutionUrl}(_eventId=back)}" class="btn btn-default">Back</a>
                        <a th:href="@{${flowExecutionUrl}(_eventId=cancel)}" class="btn btn-danger">Cancel</a>
                    </div>
                </td>
            </div>
        </main>
    </form>
</div>
</html>
