<div th:fragment="carcatalog" th:remove="tag" xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.w3.org/1999/xhtml">
    <div class="bodyContainer">
        <!-- REPLACEDBY: navigation.html-->
        <div th:replace="fragments/navigation :: top"></div>

        <!-- Page Content -->
        <div class="container">

            <div class="row">

                <div layout:fragment="content" class="col-md-9">
                </div>

            </div>

        </div>
        <!-- /.container -->

        <div class="container">

            <!-- REPLACEDBY: footer.html-->
            <div th:replace="fragments/footer :: footer"></div>

        </div>
        <!-- /.container -->

        <!-- REPLACEDBY: scripts.html-->
        <div th:replace="fragments/scripts :: scripts"></div>
    </div>
</div>