<div xmlns:th="http://www.thymeleaf.org" th:fragment="login" th:remove="tag">
    <!--<div class="fade"></div>-->
    <div class="container">
        <div class="card card-container">
            <!--<img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"/>-->
            <img id="profile-img" class="profile-img-card" th:src="@{../images/thumb-fleet_logo.png}"/>
            <p id="profile-name" class="profile-name-card"></p>
            <p class="bg-success message messageSuccess" th:if="${!logoutMessage.equals('')}"
               th:text="${logoutMessage}"></p>
            <form class="form-signin" th:action="@{/login}" th:method="post">
                <span id="reauth-email" class="reauth-email"/>
                <input name="username" type="text" id="username" class="form-control" th:placeholder="#{rdf.username}"
                       th:text="${username}"/>
                <span th:if="${#fields.hasErrors('username')}" class="help-block" th:errors="${username}"></span>
                <input type="password" id="password" name="password" class="form-control"
                       th:placeholder="#{rdf.password}" th:text="${password}"/>
                <span th:if="${#fields.hasErrors('password')}" class="help-block" th:errors="${password}"></span>
                <p class="bg-danger message messageError" th:if="${!loginError.equals('')}" th:text="${loginError}"></p>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"/> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-warning btn-block btn-signin" type="submit">Sign in</button>
            </form>
            <a href="#" th:text="#{rdf.passwordforgotten}" class="forgot-password">

            </a>
        </div>
    </div>
</div>