<div th:fragment="login" th:remove="tag" xmlns:th="http://www.thymeleaf.org">
    <!--<div class="fade"></div>-->
    <div class="container">
        <div class="card card-container">
            <!--<img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"/>-->
            <img id="profile-img" class="profile-img-card" th:src="@{../images/thumb-fleet_logo.png}"/>
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="inputEmail" class="form-control" th:placeholder="#{rdf.email}" />
                <input type="password" id="inputPassword" class="form-control" th:placeholder="#{rdf.password}" />
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me" /> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-warning btn-block btn-signin" type="submit">Sign in</button>
            </form>
            <a href="#" th:text="#{rdf.passwordforgotten}" class="forgot-password">

            </a>
        </div>
    </div>
</div>