<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>

<!-- User-Navigation -->
<nav th:fragment="top" class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="navbar-logo" title="REDO FLEET" class="navbar-brand" th:href="@{/}">Logo</a>
        </div>
        <div class="navbar-collapse navbar-right collapse">
            <div class="nav navbar-nav">
                <span class="nav navbar-nav" th:title="${session.userName}" th:placeholder="${session.userName}"
                      th:text="${session.userName}">Welcome</span>
                <span class="numberCircle" th:title="${session.fLevel}" th:placeholder="${session.fLevel}"
                      th:text="${session.fLevel}">0</span>
                <span sec:authorize="isAuthenticated()" class="nav navbar-nav">
                    <a th:href="@{/logout}" th:text="'Logout'"></a></span>
            </div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li th:class="${#httpServletRequest.requestURI} == '/user/car' ? 'active' : ''">
                    <a th:href="@{/user/car}" th:text="#{rdf.mycar}"></a>
                </li>
                <li th:class="${#httpServletRequest.requestURI} == '/carcatalog' ? 'active' : ''">
                    <a th:href="@{/cars}" th:text="#{rdf.carcatalog}"></a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


<!-- Admin-Navigation -->
<nav th:fragment="adminTop" class="navbar navbar-inverse" role="navigation">
    <div class="borderTop"></div>
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="navbar-logo" title="REDO FLEET" class="navbar-brand" th:href="@{/}">Logo</a>
        </div>
        <div class="navbar-collapse navbar-right collapse">
            <div class="nav navbar-nav">
                <span class="nav navbar-nav" th:title="${session.userName}" th:placeholder="${session.userName}"
                      th:text="${session.userName}">Welcome</span>
                <span class="numberCircle" th:title="${session.fLevel}" th:placeholder="${session.fLevel}"
                      th:text="${session.fLevel}">0</span>
                <span sec:authorize="isAuthenticated()" class="nav navbar-nav">
                    <a th:href="@{/logout}" th:text="'Logout'"></a></span>
            </div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li th:class="${#httpServletRequest.requestURI} == '/admin/cars' ? 'active' : ''">
                    <a th:href="@{/admin/cars/}">Admin car overview</a>
                </li>
                <li th:class="${#httpServletRequest.requestURI} == '/admin/cars/add' ? 'active' : ''">
                    <a th:href="@{/admin/cars/add}">Admin add a car</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Error-Navigation -->
<nav th:fragment="errorTop" class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="navbar-logo" title="REDO FLEET" class="navbar-brand" th:href="@{/}">Logo</a>
        </div>

        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Side Navigation -->
<!--<div th:fragment="sideNav" th:remove="tag">
    <div class="list-group">
        <a th:href="@{/admin/cars}" class="list-group-item active">Overview cars</a>
        <a th:href="@{/admin/cars/add}" class="list-group-item">Add car</a>
    </div>
</div>-->
<!-- Filter cars -->
<!--TODO: remove hidden to use the filter SPRINT1-->
<div th:fragment="filter" th:remove="tag">
    <div class="panel panel-default col-md-3" id="filter" style="display: none">
        <div class="panel-heading">
            <h3 class="panel-title">Filter</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <td>
                        <label id="lblBrand" for="selectBrand">Brand:</label>
                    </td>
                    <td>
                        <select id="selectBrand">
                            <option>Audi</option>
                            <option>Volkswagen</option>
                            <option>Skoda</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label id="lblModel" for="selectModel">Model:</label>
                    </td>
                    <td>
                        <select id="selectModel">
                            <option>A1</option>
                            <option>A3</option>
                            <option>A7</option>
                            <option>...</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label id="lblEmission" for="sliderEmission">Emission: (g/km)</label>
                    </td>
                    <td>
                        <b>0</b> <input id="sliderEmission" type="text" class="span2" value="" data-slider-min="0"
                                        data-slider-max="200" data-slider-step="5" data-slider-value="[50,150]"/>
                        <b>200</b>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label id="lblHp" for="sliderHp">Horse Power:</label>
                    </td>
                    <td>
                        <b>0</b> <input id="sliderHp" type="text" class="span2" value="" data-slider-min="0"
                                        data-slider-max="200" data-slider-step="5" data-slider-value="[50,150]"/>
                        <b>200</b>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label id="lblMoreStuffToFilter">@TODO: </label>
                    </td>
                    <td>
                        <label id="lblMoreStuffToFilter1">More Stuff to Filter on</label>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>
