<html xmlns:th="http://www.thymeleaf.org">
<body>

<!-- Scripts -->
<div xmlns:th="http://www.thymeleaf.org" th:fragment="scripts" th:remove="tag">
    <!-- jQuery -->
    <script th:src="@{/js/jquery.js}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- Slider -->
    <script th:src="@{/js/slider.js}"></script>
    <!-- Login JavaScript -->
    <!--<script th:src="@{/js/login.js}"></script>-->
    <!--<script th:src="@{/js/login.js}"></script>-->
    <!-- DatePicker JavaScript -->
    <script th:src="@{/js/moment.js}"></script>
    <script th:src="@{/js/collapse.js}"></script>
    <script th:src="@{/js/transition.js}"></script>
    <script th:src="@{/js/bootstrap-datepicker.js}"></script>

</div>


</body>
</html>